/********************************************************************/
/****************************HEADER**********************************/
/********************************************************************/

#logo-header {
	width: 120px;
}

/********************************************************************/
/****************************BODY**********************************/
/********************************************************************/

.container {
	padding: 1em;
	text-align: center;
}

form {
	margin: 1em auto;
}

form > input {
	box-sizing: border-box;
	display: block;
	width: 80%;
	margin: 1em auto;
	padding: 0.5em;
	border-radius: 5px;
}
input[type="submit"] {
	border: none;
	background-color: hsl(322, 100%, 66%);
	color: white;
}

input[type="submit"]:active {
	background-color: hsl(322, 58%, 45%);
}

img {
	width: 100%;
}

/********************************************************************/
/****************************FOOTER**********************************/
/********************************************************************/

footer {
	background-color: hsl(192, 100%, 9%);
	color: white;
	padding: 1em;
}

ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/********************************************************************/
/****************************QUERIES*********************************/
/********************************************************************/
